<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>

<body>


    <main>

        
        
        <div id="root" class="container">

            <div class="sidebar">

                <div class="utente">
                    <img src="img/avatar_io.jpg" alt="">
                    Nome utente
                    <div class="utente-icon">
                        <ul>
                           <li><i class="fa-solid fa-solid fa-magnifying-glass"></i></li> 
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="notifiche">
                    <div class="icons-notifiche">
                        <i class="fa-regular fa-bell-slash"></i>
                    </div>
                    <div class="text-icons">
                        <h4> Ricevi notifiche di nuovi messagi</h4>
                       <a href="#">Attività notifiche desktop</a>
                    </div>
                    
                </div>

                <div class="cerca">
                    <i class="fa-solid fa-solid fa-magnifying-glass"></i>
                 <input type="text" placeholder="Search or star new chat">
                </div>


                <div class="contact" :class="(index == active)?'active':''" v-for="(contact, index) in contacts" @click="setConcatActive(index)">
                    <div class="contact-logo">
                        <img :src='`./img/avatar${contact.avatar}.jpg`'>
                    </div>
                    <div class="contact-info">
                        <h3><span>{{contact.name}}</span><span class="contact-date">15/02/2022 15:30:03</span></h3>
                        <span class="contact-text"> Ciao,come stai</span>
                    </div>
                 
                </div>

            </div>


            <div class="container-main">


                <div class="header">
                    <div class="immagine-header">
                        <img  class="header-avatar" :src="`img/avatar${contacts[active].avatar}.jpg` " alt="">
                    </div>
                    <div class="text-header">
                        <span class="contact-name">{{contacts[active].name}}</span>
                        <span class="contact-last-acess">Ultimo accesso oggi alle</span>
                    </div>
                    <div class="header-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="container-center">

                    <div v-for="message in contacts[active].messages" class="message" :class="message.status">
                        {{message.text}}
                        <div class="sentDate">{{message.date}}</div>
                    </div>

                    <!--
                   
                    <div class="message ricevuto">
                        ciao
                        <div class="sentDate">
                            15/02/2022 15:50
                        </div>
                    </div>

                    <div class="message send">
                        ciao

                        <div class="sentDate">
                            15/02/2022 15:50
                        </div>
                    </div>

                    --> 
                    
                </div>

                <div class="container-bottom">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text"  class="message-input" placeholder="Search or star new chat" v-model="newMessage"
                    @keyup.enter="sendMessage">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

        </div>


        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>dayjs().format()</script>
</body>

</html>

