*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-image: linear-gradient(180deg,rgba(29,151,137,255) 15%, rgba(219,219,211,255) 15%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    margin: 0 auto;
    width: 1400px;
   height: calc(100vh - 40px);
  }
  

/*sidebar*/
.sidebar {
    width: 300px;
    height: 100%;
    background-color:white;
    float: left;
}

.utente{
    height: 10%;
    background-color: rgba(234,234,234,255);
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    }
    
    .utente img{
        width: 50px;
        border-radius: 50%;
    }
    
    .utente-icon ul{
    list-style: none;
    display: flex;
    }

    .utente-icon li{
        margin-left: 20px;
    }
          
    .notifiche{
    height: 10%;
    background-color:rgba(142,218,252,255);
    display: flex;
    align-items: center;
}

    .icons-notifiche{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    }



.text-icons{
    display: flex;
    flex-direction: column;
}

.text-icons a{
    color: black;
}

.cerca{
    height: 8%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.cerca{
    position: relative;
}
.cerca input{
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    padding-left: 30px;
}

.cerca i{
    position: absolute;
    left: 15px;
}

.contact{
    display: flex;
    padding: 10px;
}
.contact-logo img{
    height: 60px;
    border-radius: 50%;
    padding: 0px 10px;
}



.contact.active, .contact:hover {
    background-color: rgba(234,234,234,255);
}


/*container*/

.container-main {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
   
}

.header{
    height: 10%;
    background-color: rgba(234,234,234,255);
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.container-center{
height: 80%;
overflow-y:  scroll;
background: url(img/mine.jpg);
display: flex;
flex-direction: column;
padding: 30px 50px;
   
}

.container-bottom{
    height: 10%;
    background-color:rgba(243,238,234,255);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.immagine-header img{
    width: 50px;
    border-radius: 50%;
 }

 .header-icons {
     margin-left: auto;
 }

 .header-icons i{
     margin-left: 20px;
 }

 .text-header{
     display:flex;
     flex-direction: column;
 }

 .message{
     width: 200px;
     padding: 20px;
     border-radius: 10px;
     min-width: 150px;
     max-width: 40%;
    
 }

 .message.ricevuto{
     background-color: white;
 }

 .message.send{
     background-color: greenyellow;
     margin-left: auto;
 }
 
 .sentDate{
     font-size: 15px;
     color: lightgray;
     text-align: right;
     margin-top: 5px;
 }

.container-bottom input{
    width: 70%;
    padding: 20px;
    outline: none;
    border: none;
}

.container-bottom .fa-face-smile{
  font-size: 30px;
  margin-left: 20px;
}

.container-bottom .fa-microphone{
    font-size: 30px;
    margin-right: 20px;
}